version: "3"
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    restart: always
    environment:
      GRAPHQL_URI: http://backend:4000
  backend:
    build: ./backend
    restart: always
